
<nav class="navbar navbar-toggleable-md navbar-inverse" >
  <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Телефонная книга</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">

      <li class="nav-item active">
        <a class="nav-link" routerLink='/contacts'><font style="color: #fff;" >Контакты</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contacts/new' ><font style="color: #fff;" >Добавление контакта</font></a>
      </li>

    </ul>
  </div>
   </div>
</nav>
<router-outlet></router-outlet>

 <div id="footer">
  <div>  <p align="center">      &copy;  Телефонная книга 2017 г. </p>
   </div>
