   #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
        font-size: 10px;
      font-weight: bold;
  text-transform: uppercase; 	
   }
   #footer div {
    padding: 3px; /* Поля вокруг текста */
    background: #1d3035; /* Цвет фона */
   }
   nav{
   	color: #fff; /* Цвет текста */
  background: #1d3035; /* Цвет фона */
    font-size: 16px;
      font-weight: bold;
  text-transform: uppercase; 	
   }
